    <!-- Header Start -->
	<header class="main-header">
		<div class="header-sticky">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<!-- Logo Start -->
					<a class="navbar-brand" href="./">
						<img src="../../assets/images/BRFACARS-LOGO.png" alt="Logo">
					</a>
					<!-- Logo End -->

					<!-- Main Menu Start -->
					<div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                                <li class="nav-item"><a class="nav-link" href="/apropos-de-nous">À propos de nous</a></li>
                                <li class="nav-item"><a class="nav-link" href="/service">Services</a></li>
                                <li class="nav-item "><a class="nav-link" href="/voitures">Voitures</a>
<!--                                 <li class="nav-item submenu"><a class="nav-link" href="#">Voitures</a>
 -->                                <!-- <ul>
                                        <li class="nav-item"><a class="nav-link" href="cars.html">Liste des voitures</a></li>
                                        <li class="nav-item"><a class="nav-link" href="car-single.html">Détails de la voiture</a></li>
                                        <li class="nav-item"><a class="nav-link" href="car-type.html">Types de voitures</a></li>
                                </ul> -->
                                </li>                               
                                <li class="nav-item"><a class="nav-link" href="/blogs">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="/contactez-nous">Contactez-nous</a></li>
                            </ul>
                        </div>
                        
                        <!-- Let’s Start Button Start -->
                        <div class="header-btn d-inline-flex">
                            <a href="/voitures" class="btn-default">réserver une location</a>
                        </div>
                        
                        <!-- Let’s Start Button End -->
					</div>
					<!-- Main Menu End -->
                     
					<div class="navbar-toggle"></div>
				</div>
			</nav>
			<div class="responsive-menu"></div>
		</div>
	</header>
	<!-- Header End -->

    