    <!-- Footer Start -->
    <footer class="main-footer bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- À Propos du Pied de Page Début -->
                    <div class="about-footer">
                        <!-- Logo du Pied de Page Début -->
                        <div class="footer-logo">
                            <img src="../../assets/images/BRFACARS-LOGO.png" alt="Logo BRFACARS">
                        </div>
                        <!-- Logo du Pied de Page Fin -->
    
                        <!-- Contenu À Propos du Pied de Page Début -->
                        <div class="about-footer-content">
                            <p>Découvrez la facilité et la commodité de louer une voiture avec BRFACARS.</p>
                        </div>
                        <!-- Contenu À Propos du Pied de Page Fin -->
                    </div>
                    <!-- À Propos du Pied de Page Fin -->
                </div>
    
                <div class="col-lg-3 col-md-4">
                    <!-- Liens Juridiques du Pied de Page Début -->
                    <div class="footer-links footer-quick-links">
                        <h3>Politiques légales</h3>
                        <ul>
                            <li><a href="#">Conditions générales</a></li>
                            <li><a href="#">Politique de confidentialité</a></li>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="#">Accessibilité</a></li>
                        </ul>
                    </div>
                    <!-- Liens Juridiques du Pied de Page Fin -->
                </div>
    
                <div class="col-lg-3 col-md-4">
                    <!-- Menu du Pied de Page Début -->
                    <div class="footer-links footer-menu">
                        <h3>Liens rapides</h3>
                        <ul>

                            <li ><a  href="/">Accueil</a></li>
                            <li ><a  href="/apropos-de-nous">À propos de nous</a></li>
                            <li ><a  href="/service">Services</a></li>
                            <li ><a  href="/voitures">Voitures</a>
                        </ul>
                    </div>
                    <!-- Menu du Pied de Page Fin -->
                </div>
    
                <div class="col-lg-3 col-md-4">
                    <!-- Newsletter du Pied de Page Début -->
                    <div class="footer-newsletter">
                        <h3>Abonnez-vous à la newsletter</h3>
                        <!-- Formulaire de la Newsletter Début -->
                        <div class="footer-newsletter-form">
                            <form id="newslettersForm" action="#" method="POST">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="mail" placeholder="Email ..." required>
                                    <button type="submit" class="section-icon-btn"><img src="../../assets/images/arrow-white.svg" alt="Flèche"></button>
                                </div>
                            </form>
                        </div>
                        <!-- Formulaire de la Newsletter Fin -->
                    </div>
                    <!-- Newsletter du Pied de Page Fin -->
                </div>
            </div>
    
            <!-- Section des Droits d'Auteur du Pied de Page Début -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <!-- Droits d'Auteur Début -->
                        <div class="footer-copyright-text">
                            <p>© 2024 Brfacars. Tous droits réservés.</p>
                        </div>
                        <!-- Droits d'Auteur Fin -->
                    </div>
    
                    <div class="col-lg-6 col-md-5">
                        <!-- Liens Réseaux Sociaux Début -->
                        <div class="footer-social-links">
                            <ul>
                                <li><a href="https://www.facebook.com/brilfaraji"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://wa.me/212699050501"><i class="fa-brands fa-whatsapp"></i>
                                </a></li>
                                <li><a href="https://www.instagram.com/location_de_voitures_brfa_cars/"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- Liens Réseaux Sociaux Fin -->
                    </div>
                </div>
            </div>
            <!-- Section des Droits d'Auteur du Pied de Page Fin -->
        </div>
    </footer>
    
    <!-- Footer End -->