<app-header></app-header>
    <!-- Page Header Start -->


    <!-- Page Header Start -->

    
	<!-- Page Header End -->

    <!-- Page Contact Us Start -->
    <div class="page-contact-us">
        <div class="contact-info-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Informations de Contact Début -->
                        <div class="contact-information">
                            <!-- Titre des Informations de Contact Début -->
                            <div class="section-title">
                                <h2 class="text-anime-style-3" data-cursor="-opaque">Informations de contact</h2>
                                <p>Envoyez un message pour commencer une discussion en direct !</p>
                            </div>
                            <!-- Titre des Informations de Contact Fin -->
    
                            <!-- Liste des Informations de Contact Début -->
                            <div class="contact-info-list">
                                <!-- Élément d'Info de Contact Début -->
                                <div class="contact-info-item wow fadeInUp" data-wow-delay="0.25s">
                                    <!-- Boîte d'icône Début -->
                                    <div class="icon-box">
                                        <img src="../../assets/images/icon-phone.svg" alt="">
                                    </div>
                                    <!-- Boîte d'icône Fin -->
    
                                    <!-- Contenu de l'Info de Contact Début -->
                                    <div class="contact-info-content">
                                        <p>(+212) 699050501</p>
                                    </div>
                                    <!-- Contenu de l'Info de Contact Fin -->
                                </div>
                                <!-- Élément d'Info de Contact Fin -->
    
                                <!-- Élément d'Info de Contact Début -->
                                <div class="contact-info-item wow fadeInUp" data-wow-delay="0.5s">
                                    <!-- Boîte d'icône Début -->
                                    <div class="icon-box">
                                        <img src="../../assets/images/icon-mail.svg" alt="">
                                    </div>
                                    <!-- Boîte d'icône Fin -->
    
                                    <!-- Contenu de l'Info de Contact Début -->
                                    <div class="contact-info-content">
                                        <p>brfacars2019&#64;gmail.com</p>
                                    </div>
                                    <!-- Contenu de l'Info de Contact Fin -->
                                </div>
                                <!-- Élément d'Info de Contact Fin -->
    
                                <!-- Élément d'Info de Contact Début -->
                                <div class="contact-info-item wow fadeInUp" data-wow-delay="0.75s">
                                    <!-- Boîte d'icône Début -->
                                    <div class="icon-box">
                                        <img src="../../assets/images/icon-location.svg" alt="">
                                    </div>
                                    <!-- Boîte d'icône Fin -->
    
                                    <!-- Contenu de l'Info de Contact Début -->
                                    <div class="contact-info-content">
                                        <p>Aéroport, Marrakech 40000, Maroc</p>
                                    </div>
                                    <!-- Contenu de l'Info de Contact Fin -->
                                </div>
                                <!-- Élément d'Info de Contact Fin -->
                            </div>
                            <!-- Liste des Informations de Contact Fin -->
    
                            <!-- Réseaux Sociaux de Contact Début -->
                            <div class="contact-info-social wow fadeInUp" data-wow-delay="0.25s">
                                <ul>
                                    <li><a href="https://www.facebook.com/brilfaraji"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="https://wa.me/212699050501"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/location_de_voitures_brfa_cars/"><i class="fa-brands fa-instagram"></i></a></li>
                                    </ul>
                            </div>
                            <!-- Réseaux Sociaux de Contact Fin -->
                        </div>
                        <!-- Informations de Contact Fin -->
                    </div>
    
                    <div class="col-lg-6">
                        <!-- Formulaire de Contact Début -->
                        <div class="contact-us-form">
                            <form id="contactForm" action="#" method="POST" data-toggle="validator" class="wow fadeInUp" data-wow-delay="0.5s">
                                <div class="row">
                                    <div class="form-group col-md-6 mb-4">
                                        <label>Prénom</label>
                                        <input type="text" name="name" class="form-control" id="fname" placeholder="Entrez votre prénom" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
    
                                    <div class="form-group col-md-6 mb-4">
                                        <label>Nom</label>
                                        <input type="text" name="name" class="form-control" id="lname" placeholder="Entrez votre nom" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
    
                                    <div class="form-group col-md-6 mb-4">
                                        <label>Email</label>
                                        <input type="email" name ="email" class="form-control" id="email" placeholder="Entrez votre email" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
    
                                    <div class="form-group col-md-6 mb-4">
                                        <label>Téléphone</label>
                                        <input type="text" name="phone" class="form-control" id="phone" placeholder="Entrez votre numéro" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
    
                                    <div class="form-group col-md-12 mb-4">
                                        <label>Message</label>
                                        <textarea name="msg" class="form-control" id="msg" rows="4" placeholder="Écrivez votre message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
    
                                    <div class="col-lg-12">
                                        <div class="contact-form-btn">
                                            <button type="submit" class="btn-default">Envoyer le message</button>
                                            <div id="msgSubmit" class="h3 hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Formulaire de Contact Fin -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Page Contact Us End -->

<app-footer></app-footer>
<app-preloader></app-preloader>